.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 80px auto 50px;
}
.img_link {
    flex: 1 1 calc(25% - 20px);
}
.image {
    width: 240px;
}
.full__image {
    max-width: 550px;
}